Package: com.nightwind.rootless-patcher
Name: rootless-patcher
Version: 0.0.1
Architecture: iphoneos-arm
Description: A CLI rootful to rootless patcher.
 Utilizes a technique that does not require Xina-style symlinks.
Maintainer: Nightwind
Author: Nightwind and staturnz
Section: System
Tag: role::hacker
Depends: file, odcctools, fakeroot, ldid
